---
swagger: '2.0'
info:
  version: 1.1.0
  description: "A Swagger definition for Auth0"
  title: "Auth0"
basePath: "/"
host: OVERRIDE-ME-IN-CODE.auth0.com
schemes:
  - https
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
paths:
  "/userinfo":
    get:
      produces:
      - application/json
      security:
        - Bearer: []
      description: Create a consumer
      responses:
        '200':
          description: Consumer was created
          schema:
            $ref: '#/definitions/UserInfo'
  "/pem":
    get:
      operationId: getPEM
      # produces:
      # - application/octet-stream
      responses:
        '200':
          description: Signing Certificate
          schema:
            type: file
            # $ref: '#/responses/streaming'
          # examples:
          #   Signing Certificate: |
          #     -----BEGIN CERTIFICATE-----
          #     MIIDBTCCAe2gAwIBAgIJBPIX6UPpVxCsMA0GCSqGSIb3DQEBCwUAMCAxHjAcBgNV
          #     ...
          #     c88sSrrE9Ta6
          #     -----END CERTIFICATE-----
responses:
  streaming:
    description: Streamed file content
    schema:
      type: string
      format: binary
definitions:
  UserInfo:
    description: "Someone that interacts with the API"
    type: object
    properties:
      email_verified:
        type: boolean
        example: false
      email:
        type: string
        example: "test.account@userinfo.com"
      clientID:
        type: string
        example: "q2hnj2iu..."
      updated_at:
        type: string
        example: "2016-12-05T15:15:40.545Z"
      name:
        type: string
        example: "test.account@userinfo.com"
      picture:
        type: string
        example: "https://s.gravatar.com/avatar/dummy.png"
      user_id:
        type: string
        example: "auth0|58454..."
      nickname:
        type: string
        example: "test.account"
      created_at:
        type: string
        example: "2016-12-05T11:16:59.640Z"
      sub:
        type: string
        example: "auth0|58454..."
